body {
    background-repeat: no-repeat;
}

.my-card:hover > .my-img > img {
    transform: scale(1.1);
}

.my-img {
    height: 25vw;
}

.my-img > img {
    height: 110%;
    width: 110%;
    object-fit: cover;
    transition: transform .5s;
}

.clipped-1 {   
    clip-path: polygon(0 0, 0 95%, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 95%, 100% 100%, 100% 0);
}

.clipped-2 {
    clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 95%, 100% 0);
}

@media screen and (max-width: 767px) {
    .my-card {
        height: max-content;
    }

    .my-img {
        height: auto;
    }

    .clipped-1 {   
        clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 0);
        -webkit-clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 0);
    }

    .clipped-2 {   
        clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 0);
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 0);
    }
}
